@import "./scss/mixins";
@import "./scss/reset";
@import "./scss/header";
@import "./scss/main";
@import "./scss/doacao";
@import "./scss/footer";

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
}
