
.header{
    background: var(--bgSite);
    padding-top: 70px;
    padding-bottom: 80px;
}

.conteudo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media  (max-width: 1200px){
    .conteudo-header{
        justify-content: space-around;
    }
}

.conteudo-header h1{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: var(--title);
    margin-bottom: 17px;
}

.conteudo-header p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 32px;
    color: var(--text);
    margin-bottom: 45px;

}


button{
    background: var(--buttonColor);
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    padding: 13px 50px;
    color: var(--white);
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.img-header{
    max-width: 40%;
    height: auto;
    display: block;
}

.cards-bg{
    padding-top: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 120px;
}

@media (max-width: 1200px)  {
    .cards{
        width: 200px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}

.cards h2{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.cards p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.card {
    width: 300px;
    height: 350px;
    background-color: whitesmoke;
    text-align: left;
    box-shadow: 0 0 25px -14px black;   
}

.card h2{
    padding-left: 30px;
    padding: 200px 0px 10px 30px;
}


.card p{
    padding-left: 30px;
    padding: 10px 0 10px 30px;
}


.vermelho .card-color{
    height: 50%;
    background-color: #ff6363;
}

.azul .card-color{
    height: 50%;
    background-color: #63ECFF;
}

.rosa .card-color{
    height: 50%;
    background-color: #F363FF;
}

.verde .card-color{
    height: 50%;
    background-color: #63FF73;
}

.amarelo .card-color{
    height: 50%;
    background-color: #FFDD63;
}

.roxo .card-color{
    height: 50%;
    background-color: #6663FF;
}

.contatos-bg{
    background-color: var(--bgSite);
    margin-top: 120px;
}

.form-contatos{
    display: flex;
    justify-content: center;
}

.form-contatos h2{
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding-top: 75px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin-top: 15px;
}

input,
textarea {
    font-size: 1.2rem;
    padding: 20px;
    width: 470px;
    border-radius: 5px;
}

.form-contatos a {
    background-color: var(--buttonColor);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;

    font-family: 'Lato';
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    color: var(--white);

}