.body-bg {
  background: var(--bgSite);
  box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
  height: 100vh;
}

.header-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.lista-redeSocias {
  display: flex;
  column-gap: 40px;
}

.main-conteudo {
  display: flex;
  align-items: center;
  gap: 160px;
  margin-top: 75px;
}

.column1-conteudo h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;

  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}

.column1-conteudo h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;

  font-size: 68px;
  line-height: 74px;
  max-width: 445px;
  margin-top: 14px;

  color: var(--white);
}

.column1-conteudo p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;

  font-size: 16px;
  line-height: 29px;
  max-width: 445px;
  margin-top: 25px;

  color: var(--white);
}

.main-conteudo button {
  background-color: transparent;
  border: 2px solid var(--green);
  width: 225px;
  height: 45px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  transform: skew(-20deg);
  margin-top: 45px;

  color: var(--white);
}

.column2-conteudo {
  width: 500px;
  height: 370px;
}

button:hover {
  background-color: var(--green);
}
