html {
  font-family: "Open Sans", "sans-serif";
}

body {
  background-image: url(./img/background.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  min-height: 100vh;
}

.s-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.s-head h2 {
  font-size: 24px;
  line-height: 33px;
  color: var(--white);
}

main {
  display: flex;
  justify-content: space-between;
}

.titulo h1 {
  color: var(--redLight);
  font-weight: bold;
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  position: relative;
}

span {
  display: flex;
  margin-top: 12px;
  margin-left: 50px;

  font-family: 'druk wide bold';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--redLight);
}

.stroke {
  z-index: -1;
  position: absolute;
  top: -8px;
  left: -8px;
}

footer {
  margin-top: 200px;
}

nav {
  position: relative;
  display: flex;
  gap: 50px;
}

/* media queries */

@media (max-width: 768px) {
  .s-head {
    margin-bottom: 70px;
  }

  .s-head h2 {
    display: none;
  }

  main {
    justify-content: center;
  }

  .card img .stroke {
    height: 70%;
    width: 70%;
  }

  .titulo h1 {
    display: none;
  }
  .cards {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .suke img {
    display: none;
  }
}
