/*Variáveis*/
@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

:root {
  --white: #ffffff;
  --redLight: #FF4656;
}

.container {
  box-sizing: border-box;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}
