.header-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

nav ul {
  display: flex;
  gap: 60px;
}

.b-home a {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: var(--purple);
}

.b-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  position: relative;
}

.b-nav a::after {
  content: "";
  height: 2px;
  background-color: var(--purple);
  position: absolute;
  width: 0;
  left: 0;
  top: 20px;
  display: block;
  transition: 0.2s;
}

.b-nav a:hover::after {
  width: 100%;
}

.conta a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  padding: 5px 20px;

  border: 1px solid var(--purple);
  border-radius: 30px;
}
