body{
  font-family: $font;
  background-color: white;
}

header{
  background: url(../imgs/bg-pizza.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 500px;

  h1{
    font-weight: 600;
    font-size: 96px;
    line-height: 121px;
    color: white;

    :nth-child(1){
      color: $primary-color;
    }

    :nth-child(2){
      color: #CF3031;
    }

    :nth-child(3){
      color: #5C913B;
    }
  }
}