main{
  margin-top: 141px;

  h1{
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 90px;
    color: $secondary-color;
  }
    .cards{
      display: flex;
      justify-content: center;
      gap: 32px;
      

      h2{
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        margin-top: 30px;
        color: $secondary-color;

      }
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        max-width: 180px;
        text-align: center;
        color: #616161;

      }

      h3{
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin-top: 28px;
        color: $secondary-color;
        
      }

      .card1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #FEF6F4;;
        border-radius: 25px;
        position: relative;
        width: 256px;
        height: 275px;

          .imagem{
          position: absolute;
          top: -60px;

          img{
            transition: 1s ease-out;
            &:hover{
              transform: rotate(360deg) scale(1.2);
              
              }
            }
          } 

          .botao{
            position: absolute;           
            bottom: -15px;            
          }
        }
  }
}

.sobre{
  display: flex;
  align-items: center;
  gap: 95px;
  margin-top: 250px;

  .descricao{
      h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 45px;
        color: $secondary-color;
        margin-bottom: 24px;
    
        :nth-child(1){
          color: $primary-color;
        }
    
        :nth-child(2){
          color: #CF3031;
        }
    
        :nth-child(3){
          color: #5C913B;
        }
      }

      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 24px;
        color: $secondary-color;
        max-width: 450px;
      }
  }  

  img{
    background-repeat: no-repeat;
    background-size: cover;
  }
}

footer{
  margin-top: 65px;
  margin-bottom: 16px;
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}

button{              
  width: 157px;
  height: 31px;
  border-radius: 25px;
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

@media (max-width: 930px){
  main .cards{
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .sobre{
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    text-align: center;
  }
}

