/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "sora";
  background-color: white;
}

header {
  background: url(../imgs/bg-pizza.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
header h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 121px;
  color: white;
  text-align: center;
}
header h1 :nth-child(1) {
  color: #FFA200;
}
header h1 :nth-child(2) {
  color: #CF3031;
}
header h1 :nth-child(3) {
  color: #5C913B;
}

main {
  margin-top: 141px;
}
main h1 {
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 90px;
  color: #2E2E2E;
}
main .cards {
  display: flex;
  justify-content: center;
  gap: 32px;
}
main .cards h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-top: 30px;
  color: #2E2E2E;
}
main .cards p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 8px;
  max-width: 180px;
  text-align: center;
  color: #616161;
}
main .cards h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-top: 28px;
  color: #2E2E2E;
}
main .cards .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEF6F4;
  border-radius: 25px;
  position: relative;
  width: 256px;
  height: 275px;
}
main .cards .card1 .imagem {
  position: absolute;
  top: -60px;
}
main .cards .card1 .imagem img {
  transition: 1s ease-out;
}
main .cards .card1 .imagem img:hover {
  transform: rotate(360deg) scale(1.2);
}
main .cards .card1 .botao {
  position: absolute;
  bottom: -15px;
}

.sobre {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-top: 250px;
}
.sobre .descricao h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #2E2E2E;
  margin-bottom: 24px;
}
.sobre .descricao h1 :nth-child(1) {
  color: #FFA200;
}
.sobre .descricao h1 :nth-child(2) {
  color: #CF3031;
}
.sobre .descricao h1 :nth-child(3) {
  color: #5C913B;
}
.sobre .descricao p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
  color: #2E2E2E;
  max-width: 450px;
}
.sobre img {
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  margin-top: 65px;
  margin-bottom: 16px;
}
footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

button {
  width: 157px;
  height: 31px;
  border-radius: 25px;
  background-color: #FFA200;
  color: #2E2E2E;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

@media (max-width: 930px) {
  main .cards {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .sobre {
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */