footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 45px;
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    p {
      @include texto-medio;
    }
    @include d(m){
      display: none;
      gap: 0px;
      justify-content: center;
    }

  }

  .links {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    @include d(s){
      gap: 25px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $background;
      padding: 8px;
      border-radius: 50%;

      &:hover {
        box-shadow: 0 0 10px 6px #ffb6c1;
      }
    }
  }
}
