header {
  background-color: $background;
  .conteudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 23px;
    p {
      @include texto-medio;
    }
  }
}
.nav {
  @include d(m) {
    &.ativo .links {
      display: block;
      overflow-y: hidden;
    }
  }
  .mobile-menu {
    display: none;
    width: 24px;
    height: 2px;
    background: black;
    margin-top: 3px ;
    @include d(m) {
      display: flex;
    }
  }
  .links {
    display: flex;
    gap: 50px;
    margin-top: 23px;
    @include d(m) {
      display: none;
      position: absolute;
      width: 100%;
      top: 8vh;
      right: 0px;
      background: white;
      height: 100vh;
      z-index: 1000;
    }
    li {
      cursor: pointer;
      @include texto-pequeno;
      color: $cor-primaria;
      @include d(m) {
        padding: 40px 0px;
        text-align: center;
      }
      &:hover {
        background: $background;
        filter: brightness(0.9);
      }
    }
  }
}

section {
  margin-top: 40px;
  padding-bottom: 70px;
  .introducao {
    display: flex;
    align-items: center;
    gap: 170px;

    @include d(m) {
      gap: 0px;
      text-align: center;
    }
    h1 {
      @include texto-grande;
      color: $cor-primaria;
      max-width: 365px;
      @include d(m) {
        max-width: 100%;
      }
    }
    p {
      @include texto-pequeno;
      color: $cor-secundaria;
      max-width: 345px;
      margin-top: 25px;
      @include d(m) {
        max-width: 100%;
      }
    }
    button {
      cursor: pointer;
      width: 250px;
      @include button;
      margin-top: 40px;
      transition: 0.2s ease;
      &:hover {
        filter: brightness(1.1);
      }
    }
    .send {
      img {
        max-width: 100%;
        @include d(m) {
          display: none;
        }
      }
    }
  }
}
