header {
  background-color: $background;
  .conteudo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 23px;
    p {
      @include texto-medio;
    }
  }
  .links {
    display: flex;
    gap: 50px;
    margin-top: 23px;

    li {
      cursor: pointer;
      @include texto-pequeno;
      color: $cor-primaria;
    }
  }
}

section {
  margin-top: 40px;
  padding-bottom: 70px;
  .introducao {
    display: flex;
    align-items: center;
    gap: 170px;

    h1 {
      @include texto-grande;
      color: $cor-primaria;
      max-width: 365px;
    }
    p {
      @include texto-pequeno;
      color: $cor-secundaria;
      max-width: 345px;
      margin-top: 25px;
    }
    button {
      cursor: pointer;
      width: 250px;
      @include button;
      margin-top: 40px;
      transition: 0.2s ease;
      &:hover {
        filter: brightness(1.1);
      }
    }
    img {
      max-width: 100%;
    }
  }
}
